.swiper{
    border : 1px solid red;
    background-color:#0d6aad;
    height :200px;
}
.nav{
    margin-top:20px;
    border : 1px solid greyn;

}
.list {
    margin-top: 20px 0px 0px 0px;
    border: 1px solid blue;

}
.list ul li {
    list-style: none;
    border : 1px solid orange;
    margin-top: 10px ;
}